html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    pointer-events: none;
    /*can click through modal as opacity is 0*/
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal-container.show {
    /*an example of a class in CSS, can be added or removed with JS*/
    opacity: 1;
    pointer-events: auto;
}

.modal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 2px solid gray;
    border-radius: 7px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 7px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.modal p {
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bolder;
    color: rgb(137, 250, 147);
}

.modal h1 {
    flex-basis: 100%;
}

.modal h2 {
    flex-basis: 100%;
}

.box {
    border-radius: 25px;
    border: 2px solid rgb(228, 161, 255);
    background-color: rgb(66, 66, 66);
    padding: 25px;
    font-size: 16px;
    width: 100%;
}

.box img {
    width: 75px;
    height: 75px;
}

.box h2 {
    font-size: 30px;
    text-align: center;
}

.boxLogo {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    gap: 15px;
    flex-wrap: wrap;
}

.logoTwo {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    gap: 15px;
    flex-wrap: wrap;
}

.boxLogo img {
    width: 75px;
    height: 75px;
}

.stonks {
    display: flex;
    flex-direction: column;
}

.currentStonks {
    background-color: transparent;
    color: greenyellow;
    font-size: 35px;
}

.yourStonks {
    background-color: transparent;
    color: red;
    font-size: 20px;
}

.add {
    border: 2px solid rgb(148, 255, 148);
    border-radius: 7px;
    padding: 5px;
    background-color: rgb(148, 255, 148);
    text-align: center;
    line-height: 1;
}

.add button {
    color: white;
    background-color: rgb(148, 255, 148);
    border: 0px;
    font-size: 15px;
}

.addContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.pageContainer {
    background: rgb(34, 193, 195);
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 65%);
    /*background-color: rgb(255, 174, 0);*/
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    flex: 1 0 auto;
    border: 2px solid gray;
    border-radius: 7px;
}

.footer {
    background-color: rgb(98, 98, 98);
    text-align: center;
    flex-shrink: 0;
    border-radius: 7px;
    padding-top: 25px;
}

@media only screen and (max-width: 600px) {
    .box {
        font-size: small;
    }
    .currentStonks {
        font-size: 16px;
    }
    .yourStonks {
        font-size: 16px;
    }
    .logoTwo {
        font-size: large;
        text-decoration: underline;
    }
    .logoTwo img {
        width: 50px;
        height: 50px;
    }
    .modal {
        width: 250px;
    }
    .add {
        border: 2px solid rgb(148, 255, 148);
        border-radius: 4px;
        padding: 2px;
        background-color: rgb(148, 255, 148);
        text-align: center;
        line-height: 1;
    }
    .add button {
        color: white;
        background-color: rgb(148, 255, 148);
        border: 0px;
        font-size: 10px;
    }
}